<%= form_with(model: [ @viewthread, @viewthread.comments.build ]) do |form| %>
  <p>
    <%= form.label "Commenting as:" %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit "Comment"%>
  </p>
<% end %>
