<%= form_for(@viewthread) do |f| %>
  <% if @viewthread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@viewthread.errors.count, "error") %> prohibited this viewthread from being saved:</h2>

      <ul>
      <% @viewthread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Subject %><br>
    <%= f.text_field :Subject %>
  </div>
  <div class="field">
    <%= f.label :Text %><br>
    <%= f.text_area :Text %>
  </div>
  <div class="text">
    <%= f.label "Created By:" %>
    <%= current_user.email %><br><br>
  <div class="actions">
    <%= f.submit "Create Thread"%>
  </div>
<% end %>
