<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", welcome_index_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Browse Forum", viewthreads_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Contact Us" %></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="small-8 columns"><%= yield %></div>
  <div class="small-4 columns">
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Text</th>
      <th>Createdby</th>
    </tr>
  </thead>

  <tbody>
    <% @viewthreads.each do |viewthread| %>
      <tr>
        <td><%= viewthread.Subject %></td>
        <td><%= viewthread.Text %></td>
        <td><%= viewthread.CreatedBy %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Thread', new_viewthread_path %>
