<div class="row">
  <div class="small-8 columns"><%= yield %></div>
  <div class="small-4 columns">
  </div>
</div>
<table>
  <% if signed_in? %>
  <% if current_user.email == "admin@yahoo.com" %>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Content</th>
      <th>Created by</th>
      <th>Created / Last Edited</th>
    </tr>
  </thead>
  <tbody>
    <% @viewthreads.each do |viewthread| %>
  <tr>
  <td><%= viewthread.Subject %></td>
      <td><%= viewthread.Text %></td>
      <td><%= viewthread.CreatedBy %></td>
      <td><%= viewthread.updated_at %></td>
      <td><%= link_to 'Show', viewthread %></td>
      <td><%= link_to 'Edit', edit_viewthread_path(viewthread) %></td>
      <td><%= link_to 'Destroy', viewthread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
 <% else %>
  <div align="justify">
    <% @viewthreads.each do |viewthread| %>
      <br><font size="8"><u><%= link_to viewthread.Subject, viewthread %></font></u><br>
      <font size="1"><%= viewthread.updated_at %> &nbsp&nbsp | &nbsp &nbsp By:
      <i><%= viewthread.CreatedBy %></font></i><br><br><br><br>
    <% end %>
  </div>
  <% end %>
  <% else %>
  <tbody>
    <% @viewthreads.each do |viewthread| %>
      <br><font size="8"><u><%= link_to viewthread.Subject, viewthread %></font></u><br>
      <font size="1"><%= viewthread.updated_at %> &nbsp&nbsp | &nbsp &nbsp
      <%= viewthread.CreatedBy %></font><br><br><br><br>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
