<p id="notice"><%= notice %></p>

<p>
  <strong><font size ="6"><%= @viewthread.Subject %></font></strong><br>
<strong><font size ="2">By:</strong>
<%= @viewthread.CreatedBy %></font> </p>

<body>
  <%= @viewthread.Text %>
</body>
<br> <br> <br>

<h2>Comments</h2>
<%= render @viewthread.comments %>
<br> <br>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% if signed_in? %>
<% if @viewthread.CreatedBy == current_user.email %>
<%= link_to 'Edit', edit_viewthread_path %> |
<%= link_to 'DELETE', viewthread_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', viewthreads_path %>
<% else %>
<%= link_to 'Back', viewthreads_path %>
<% end %>
<% else %>
<%= link_to 'Back', viewthreads_path %>
<% end %>
