<p id="notice"><%= notice %></p>

<h1>
  <strong>
  <%= @viewthread.Subject %>
  </strong>
</h1>

<h2>
  <strong>
  <%= @viewthread.Text %>
  </strong>
</h2>

<p>
  <strong>Createdby:</strong>
  <%= @viewthread.CreatedBy %>
</p>

<%= link_to 'Back', dxidepanels_path %>
