<p id="notice"><%= notice %></p>

<p>
  <font size="6"><strong><%= @forum.subject %></strong></font><br>
  <font size="1"> <strong>Author:</strong>
    <%= @forum.User_id %></font>
</p>

<p>
  <%= @forum.content %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
